<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=sql.freeasphost.net\MSSQL2016;Initial Catalog=movietime_SampleDB;Persist Security Info=True;User ID=movietime_SampleDB;Password=DBSamplePW" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <rewrite>
      <rules>
        <rule name="Hide .aspx ext">
          <match url ="^(.*)$" ignoreCase="true"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx"/>
        </rule>
        <rule name="Redirecting .aspx ext" stopProcessing="true">
          <match url="^(.*).aspx$"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).aspx$" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
